/*
Fonts:
font-family: 'Fjalla One', sans-serif;
font-family: 'PT Sans', sans-serif;
*/

.embed-container {
  padding: 0;
  margin: 2%;
  height: auto;
}

small {
  position: absolute;
  z-index: 40;
  bottom: 0;
  margin-bottom: -15px;
}

.map {
  width: 50%;
  height: 450px;
  display: inline-block;
}

#AnalyticsTitle {
  font-family: "PT Sans", sans-serif;
  font-size: 36px;
  text-align: center;
}

#MapDescription {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
}
#map-description {
  display: inline-block;
  width: 48%;
  margin: 1%;
}
