.NameLabel {
  display: inline;
  padding: 2px 10px;
}

.EffectiveLabel {
  padding: 2px 10px;
}

.PriceLabel {
  display: inline;
  padding: 2px 10px;
}

.Item {
  background-color: white;
  border: 1px solid black;
  margin: 12px;
}
